@import 'tailwindcss';

@theme {
  --animate-scroll: scroll 20s linear infinite;
  --animate-scroll-reverse: scroll-reverse 20s linear infinite;

  @keyframes scroll {
    0% { transform: translateX(0); }
    100% { transform: translateX(-50%); }
  }
  @keyframes scroll-reverse {
    0% { transform: translateX(-50%); }
    100% { transform: translateX(0); }
  }
}